{% set published_churches = frappe.get_list("Church", fields=["name"], filters={"publish": 1}, ignore_permissions=True) %}
{% if published_churches %}
<div class="row justify-content-center">
{% for doc in published_churches %}
    {% set church = frappe.get_doc("Church", doc.name) %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-header">
                <strong>{{ church.legal_name or churchit.church_name }}</strong>
                {% if church.founding_date %}
                    <br>
                    Est: {{ church.founding_date }}
                {% endif %}
            </div>
            <div class="card-body">
                {% if church.mission_statement %}
                <p class="card-text"><em>&ldquo;{{ church.mission_statement }}&rdquo;</em></p>
                {% endif %}
                {% if church.about %}
                <p class="card-text">{{ church.about }}</p>
                {% endif %}
            </div>
            {% if church.address %}
            {% set addr = frappe.get_doc("Address", church.address) %}
            <div class="card-footer">
                <div class="small text-muted">
                    {{ addr.address_line1 }}{% if addr.address_line2 %}, {{ addr.address_line2 }}{% endif %}<br>
                    {{ addr.city }}{% if addr.state %}, {{ addr.state }}{% endif %} {{ addr.pincode or "" }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>
{% else %}
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 text-center" style="padding: 60px 20px;">
        <p class="text-muted" style="font-size: 1.1em;">Our location information is being updated. Please check back soon.</p>
    </div>
</div>
{% endif %}
