{% set root_churches = frappe.get_list("Church", fields=["name"], filters={"parent_church": ""}, ignore_permissions=True, limit=1) %}
{% if root_churches %}
{% set root_church_name = root_churches[0].name %}
{% set published_position_types = frappe.get_list("Position Type", fields=["name"], filters={"publish": 1}, ignore_permissions=True) %}
{% set published_positions = published_position_types | map(attribute="name") | list %}
{% if published_positions %}
{% set today = frappe.utils.today() %}
{% set leaders = frappe.db.sql("""
    SELECT DISTINCT
        p.first_name,
        p.last_name,
        p.photo,
        pos.position,
        pos.start_date
    FROM `tabPerson` p
    INNER JOIN `tabPosition` pos ON pos.parent = p.name AND pos.parenttype = 'Person'
    WHERE p.church = %s
      AND pos.position IN %s
      AND (pos.end_date IS NULL OR pos.end_date = '' OR pos.end_date >= %s)
    ORDER BY pos.position, p.last_name, p.first_name
""", (root_church_name, published_positions, today), as_dict=True) %}
<div class="row justify-content-center">
{% for leader in leaders %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-header">
                <strong>{{ leader.first_name }} {{ leader.last_name or '' }}</strong>
            </div>
            <div class="card-body">
                {% if leader.photo %}
                    <p class="card-text">
                        <img src="{{ leader.photo }}" style="max-width: 100%; border-radius: 8px;">
                    </p>
                {% endif %}
            </div>
            <div class="card-footer">
                <div class="small text-muted">
                    {{ leader.position }}
                    {% if leader.start_date %}
                        <br>Since {{ frappe.format_date(leader.start_date) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endif %}
{% endif %}
